.box{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.box1{
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    width:100%;
    
}
.calc, .description{
    float:left;
    width:50%;
    border:2px solid red;
    margin: 20px;
}

.box2{
    border:2px solid green;
    width:100%;
    margin-top:20px;
}
.history{
    float:left;
    width:96%;
    margin:20px;
}


input[type="button"] {
    margin-right:80px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
label{
    font-weight: bold;
}

#cc{
    background-color: grey;
}

h1,p,h3,td{
    text-align: center;
}
